
body{

  padding: 50px;

}
p {
  font-size: 55px;
  font-family: sans-serif;

}

h1 {
  font-size: 65px;
  font-family: sans-serif;

}
h2 {
  font-size: 65px;
  font-family: sans-serif;

}
h3{
  font-size: 95px;

}
.intro img {
    float: right;
    width: 650px;
    height: auto;
}
#content{
    padding: 50px;
    background-color: PapayaWhip;
    border: solid 2px #333333;
    border: 70px solid green;
    padding: 50px

}
.linkbox {
    padding: 10px;
    font-size: 45px;
}
.sourcelink {
    float: right;
}
a {
    text-decoration: none;
    color: maroon;
}
.output {
    margin: 10px;
    padding: 10px;
    border: dotted 8px green;
    font-size: 55px;

}
